<div class=" log-in-form">
	<%if @user && @admins.include?(@user.email)%>
	  <h3>
	      <a href="#">Add a Track</a>
	  </h3>
	  <p>Enter details to enter an album in the database</p>
	 	
	  <%= form_for @track, url: {action: "create"}, html: {class: "new-item-form", multipart: true} do |f| %>
	  	<%= f.label :album, "Album" %><br>
	  	<%= f.collection_select(:album_id, Album.all, :id, :name) %> <br>
	  	<%= f.label :name, "Track name"%><br>
	  	<%= f.text_field :name, required: true%><br>
	  	<%= f.label :track_number, "Track Number - Leave blank to autonumber" %><br>
	  	<%= f.number_field :track_number, step: "1"%><br>	  
	  	<%= f.label "The following files should be unarchived straight files"%><br>
	  	<%= f.label :mp3, "MP3 File" %><br>
	  	<%= f.file_field :mp3 %> <br>
	  	<%= f.label :alac, "ALAC File" %><br>
	  	<%= f.file_field :alac %> <br>
	  	<%= f.label :aac, "AAC File" %><br>
	  	<%= f.file_field :aac %> <br>
	  	<%= f.label :ogg, "OGG File" %><br>
	  	<%= f.file_field :ogg %> <br>
	  	<%= f.label :flac, "FLAC File" %><br>
	  	<%= f.file_field :flac %> <br>
	  	<%= f.label :wav, "Wav File" %><br>
	  	<%= f.file_field :wav %> <br>
	  	<%= f.label :sample, "Sample File. MP3 format please" %><br>
	  	<%= f.file_field :sample %> <br>
	  	<%= f.label :price, "Price - Leave blank for default pricing" %><br>
	  	<%= f.number_field :price, step: "0.01", required: true%><br>	
	  	<%= f.submit class: "btn-md btn-warning submit-btn" %>

	  <% end %>
	  <h1>_-_-_-_-_-_-_-_</h1>
	  <a href=<%=new_album_path%> ><p class="submit-btn" style="max-width:40%">Add an album</p></a>
	<%else%>
		<p>Beep Boop. Access Denied</p>
	<%end%>
</div>