<div class="library-div">
<h3>Your library</h3>
<p>User = <%= @user.email %></p>

<h2><u>Your Albums</u></h2>
<%  if @user_albums.length > 0 %>
	<% @user_albums.each do |album| %>
		<h3 style="text-align:left"><%=album.name%></h3>
		<p class="generate-album-link"><a href="" class="submit-btn" >Generate Download Link</a></p>
		<div class="album-link-box">
			<h2>Available download formats</h2>
			<% if album.mp3_file_name %>
		    <form  name='generate_mp3' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='mp3_album_id' value=<%=album.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="mp3_img" src="/images/mp3.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(album.mp3_file_size) %></label>
		    </form>
			<% end %>
			<% if album.ogg_file_name %>
		    <form  name='generate_ogg' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='ogg_album_id' value=<%=album.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="ogg_img" src="/images/ogg.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(album.ogg_file_size) %></label>
		    </form>
			<% end %>
			<% if album.aac_file_name %>
		    <form  name='generate_aac' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='aac_album_id' value=<%=album.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="aac_img" src="/images/aac.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(album.aac_file_size) %></label>
		    </form>
			<% end %>
			<% if album.alac_file_name %>
		    <form  name='generate_alac' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='alac_album_id' value=<%=album.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="alac_img" src="/images/alac.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(album.alac_file_size) %></label>
		    </form>
			<% end %>
			<% if album.flac_file_name %>
		    <form  name='generate_flac' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='flac_album_id' value=<%=album.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="flac_img" src="/images/flac.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(album.flac_file_size) %></label>
		    </form>
			<% end %>
			<% if album.wav_file_name %>
		    <form  name='generate_wav' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='wav_album_id' value=<%=album.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="wav_img" src="/images/wav.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(album.wav_file_size) %></label>
		    </form>
			<% end %>												
		</div>
	<%end%>
<%else%>
	<p>No albums yet. Take a look at our <a href="/">catalog</a>.</p>
<%end%>

<h2><u>Your Tracks</u></h2>
<%if @user_tracks.length > 0%>
	<%@user_tracks.each do |track|%>
		<h2><%=track.name%></h2>
		<p class="generate-track-link"><a href="" class="submit-btn">Generate Download Link</a></p>
		<div class="track-link-box">
			<h2>Available download formats</h2>
			<% if track.mp3_file_name %>
		    <form  name='generate_mp3' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='mp3_track_id' value=<%=track.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="mp3_img" src="/images/mp3.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(track.mp3_file_size) %></label>
		    </form>
			<% end %>
			<% if track.ogg_file_name %>
		    <form  name='generate_ogg' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='ogg_track_id' value=<%=track.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="ogg_img" src="/images/ogg.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(track.ogg_file_size) %></label>
		    </form>
			<% end %>
			<% if track.aac_file_name %>
		    <form  name='generate_aac' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='aac_track_id' value=<%=track.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="aac_img" src="/images/aac.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(track.aac_file_size) %></label>
		    </form>
			<% end %>
			<% if track.alac_file_name %>
		    <form  name='generate_alac' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='alac_track_id' value=<%=track.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="alac_img" src="/images/alac.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(track.alac_file_size) %></label>
		    </form>
			<% end %>
			<% if track.flac_file_name %>
		    <form  name='generate_flac' action='/users/<%= @user.id %>' class="generate-form" >
		      <div>
		          <input type='hidden' name='flac_track_id' value=<%=track.id%>>
		          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		          <input type="image" name="flac_img" src="/images/flac.png" border="0" alt="Submit" class="generate-download-btn"/>
		      </div>
		    	<label><%= filesize(track.flac_file_size) %></label>
		    </form>
			<% end %>											
		</div>
	<%end%>
<%else%>
	<p>No individual tracks in your library yet.</p>
<%end%>
	<div class="spacer"></div>
	<div ="User-address">
		<form action="/users/<%= @user.id %>" method="post">
			<h3>Account Details</h3>
			<p class="edit-labels">Email: <%= @user.email %></p>
			<p class="edit-labels">Given Name: <%= @user.given_name %> <input type="text" name="given_name" class="edit-address-form"></p>
			<p class="edit-labels">Family Name: <%= @user.family_name %> <input type="text" name="family_name" class="edit-address-form"></p>
			<p class="edit-labels">Address - Line 1: <%= @user.address_one%> <input type="text" name="address_one" class="edit-address-form"></p>
			<p class="edit-labels">Address - Line 2: <%= @user.address_two%> <input type="text" name="address_two" class="edit-address-form"></p>
			<p class="edit-labels">Address - City: <%= @user.address_city%> <input type="text" name="address_city" class="edit-address-form"></p>
			<p class="edit-labels">Address - Country: <%= @user.address_country%><%= select_tag "address_country", options_for_select(@countries), class: "edit-address-form", style: "margin-right:10%;" %></p>
			<br><button id="edit-button" >Edit Details</button>
			

			<input type="submit" value="Submit Changes" class="edit-address-form">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			<input type="hidden" name="_method" value="patch">
			<p class="edit-address-form" style="font-size:1em;">Leave blank any details you want unchanged.  Note - Email may not be changed on exisiting accounts</p>
		</form>
	</div>
</div>