<div class="col-md-6 portfolio-item log-in-form">
	<%if @user && @admins.include?(@user.email)%>
	  <h3>Add an album</h3>
	  <p>Enter details to enter an album in the database</p>
	  <%= form_for @album, url: {action: "create"}, html: {class: "new-item-form", multipart: true} do |f|%>
	  	<%= f.label :name, "Album name" %><br>
	  	<%= f.text_field :name %><br>
	  	<%= f.label :art_url, "Album art URL" %><br>
	  	<%= f.text_field :art_url %><br>
	  	<%= f.label :artists, "Artists" %><br>
	  	<%= f.text_field :year %><br>
	  	<%= f.label :year, "Year" %><br>
	  	<%= f.text_field :year %><br>
  		<%= f.label :isrc, "ISRC" %><br>
	  	<%= f.text_field :isrc %><br>	  	
	  	<%= f.label :description, "Description" %><br>
	  	<%= f.text_area :description %><br>	
	  	<%= f.label :price, "Price" %><br>
	  	<%= f.number_field :price, step: "0.01", required: true%><br>	    	
	  	<%= f.label :mp3, "MP3 Archive" %><br>
	  	<%= f.file_field :mp3 %> <br>
	  	<%= f.label :alac, "ALAC Archive" %><br>
	  	<%= f.file_field :alac %> <br>
	  	<%= f.label :aac, "AAC Archive" %><br>
	  	<%= f.file_field :aac %> <br>
	  	<%= f.label :ogg, "OGG Archive" %><br>
	  	<%= f.file_field :ogg %> <br>
	  	<%= f.label :flac, "FLAC Archive" %><br>
	  	<%= f.file_field :flac %> <br>	
	  	<%= f.label :wav, "WAV Archive" %><br>
	  	<%= f.file_field :wav %> <br>	    		 	
	  	<%= f.submit class: "btn-md btn-warning submit-btn" %>

	  <% end %>
	  <h1>_-_-_-_-_-_-_-_</h1>

	<a href=<%=new_track_path%> ><p class="submit-btn" style="max-width:40%">Add Tracks</p></a>
	<%else%>
		<p>Beep Boop. Access Denied</p>
	<%end%>


</div>
