<br>
<div id="album-show-main">
<div>
  <a href=<%= @album.art_url %>  id="album-art"><img src=<%=@album.art_url%> class="album-page-art" alt=<%= @album.name %>></a>
  <% if @user && @album.in_cart(@user.id) %>
    <a href=<%=orders_path%>><img src="/images/incart.png" class="big-cart" alt=<%= @album.name %>></a>
  <% elsif @user && @album.in_library(@user.id) %>    
    <a href=<%=user_path%>><img src="/images/inlibrary.png" class="big-cart"></a>
  <%else%>
    <form  name='orderAlbum' method='post' action='/orders'>
      <div>
          <input type='hidden' name='album_id' value=<%=@album.id%>>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type="image" name="order" src="/images/cart.png" border="0" alt="Submit" class="big-cart"/>
      </div>
    </form>
  <%end%>
  <p class="album-price"><%=number_to_currency(@album.price)%></p>
  <div class="spacer"></div>
  <pre class="album-desc-pre" style="padding:15px"><%=@album.description%></pre>
  <% if @album.artists %>
    <p class="album-desc">By <%=@album.artists%></p>
  <% end %>
  <p class="album-desc">Released <%=@album.year%></p>
  <p class="album-desc">Available Formats: 
    <% @formats.length.times do |i| %>
      <% if @formats[i] == "wav"  %>
        <%= "wav 24bit/88.2kHz" %>
      <% else %>
        <%= "#{@formats[i]} " %>
      <% end %>
    <% end %>
</div>
  <div>
    <h2>Track Listing:</h2>
    <% @tracks.each do |track| %>
      <section class="single-track">
      <p class="track-listing">
        <%if track.name.length < 30 %>
          <%=track.track_number%>: <%=track.name%> <%="."*(30-track.name.length)%> 
        <% else %>
          <%=track.track_number%>: <%=track.name%>
        <% end %>
        <p class="track-listing-price" style="float:right"><%= number_to_currency(track.price)  %></p>
        <% if @user && track.in_cart(@user.id) %>
          <img src="/images/incart.png" class="small-cart">
        <% elsif @user && track.in_library(@user.id) %>    
          <a href=<%=user_path%>><img src="/images/inlibrary.png" class="small-cart"></a>
        <%else%>
          <form  class='track-order-button' name='orderTrack' method='post' action='/orders'>
            <input type='hidden' name='track_id' value=<%=track.id%>>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <input type="image" name="track" src="/images/cart.png" border="0" alt="Submit" class="small-cart"/>
          </form>
        <%end%>

        <%if track.sample_file_name%>
<!--           <a href=<%= track.sample.s3_object.url_for(:read, :secure => true, :expires => 20.minutes.from_now) %> target="_blank"> <img src="/images/dummyplay.png" class='play-button'></a>  -->
          <audio controls class='play-button-html5'>
            <source src=<%= track.sample.s3_object.url_for(:read, :secure => true, :expires => 20.minutes.from_now) %> type="audio/mpeg" class='play-button'>
          Your browser does not support the audio element.
          </audio>

        <%else%>
          <input type="image" src="/images/dummyplay.png" onclick="noSample()" class='play-button'>
        <%end%>

        <% if @user && @admins.include?(@user.email) %>
          <a href="/tracks/<%= track.id %>"> <img src="/images/files_icon.png" class='play-button'></a> 
        <% end %>
      </p>
      </section>
    <%end%>
    <p>Samples served in mp3 format. All prices in New Zealand dollars.</p>
  </div>
</div>

<% if @user && @admins.include?(@user.email) %>
  <h3><a href="/albums/<%= @album.id %>/edit">Edit</a></h3>
  <div id="album-edit">
    <h2>Current file formats:</h2>
    <% @formats.each do |format| %>
      <p><%= format %>  - <%= filesize(@album.send(format+"_file_size")) %>
        <form method="post" action="/albums/<%= @album.id %>">
          <input type="submit" value="Delete Archive">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="delete" value="<%= format %>">
        </form>
      </p>
    <% end %>
    <h2>Add formats:</h2>
    <form action="/albums/upload/<%= @album.id %>">
      <select name="format">
        <option value="mp3">mp3</option>
        <option value="alac">alac</option>
        <option value="flac">flac</option>
        <option value="wav">wav</option>
        <option value="sample">sample(mp3)</option>
      </select>
      <input type="hidden" name="album_id" value="<%= @album.id %>">
      <input type="submit" value="continue">
    </form>
    <a href=<%=new_track_path%> ><p class="submit-btn" style="max-width:20%">Add Tracks</p></a>
  </div>
<% end %>

<script>
$(document).ready(function(){
   $('.play-button-html5').bind('contextmenu',function() { return false; });
}); </script>