<br>
<div id="album-show-main">
<div>
  <a href=<%= @album.art_url %>  id="album-art"><img src=<%=@album.art_url%> class="album-page-art" alt=<%= @album.name %>></a>
  <h1 class="album-name"><%=@album.name%></h1>
  <% if @user && @album.in_cart(@user.id) %>
    <a href=<%=orders_path%>><img src="/images/incart.png" class="big-cart" alt=<%= @album.name %>></a>
  <% elsif @user && @album.in_library(@user.id) %>    
    <a href=<%=user_path%>><img src="/images/inlibrary.png" class="big-cart"></a>
  <%else%>
    <form  name='orderAlbum' method='post' action='/orders'>
      <div>
          <input type='hidden' name='album_id' value=<%=@album.id%>>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type="image" name="order" src="/images/cart.png" border="0" alt="Submit" class="big-cart"/>
      </div>
    </form>
  <%end%>
  <div class="spacer"></div>
  <p class="album-price"><%=number_to_currency(@album.price)%></p>
  <pre class="album-desc"><%=@album.description%></pre>
  <p class="album-desc">By <%=@album.artists%></p>
  <p class="album-desc">Released <%=@album.year%></p>
  <p class="album-desc">Available Formats: 
    <% @formats.length.times do |i| %>
      <%= "#{@formats[i]} " %>
    <% end %>
</div>
  <div>
    <h2>Track Listing:</h2>
    <% @tracks.each do |track| %>
      <section class="single-track">
      <p class="track-listing">
        <%if track.name.length < 30 %>
          <%=track.track_number%>: <%=track.name%> <%="."*(30-track.name.length)%> 
        <% else %>
          <%=track.track_number%>: <%=track.name%>
        <% end %>
        <p class="track-listing-price" style="float:right"><%= number_to_currency(track.price)  %></p>
        <% if @user && track.in_cart(@user.id) %>
          <img src="/images/incart.png" class="small-cart">
        <% elsif @user && track.in_library(@user.id) %>    
          <a href=<%=user_path%>><img src="/images/inlibrary.png" class="small-cart"></a>
        <%else%>
          <form  class='track-order-button' name='orderTrack' method='post' action='/orders'>
            <input type='hidden' name='track_id' value=<%=track.id%>>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <input type="image" name="track" src="/images/cart.png" border="0" alt="Submit" class="small-cart"/>
          </form>
        <%end%>

        <%if track.sample_file_name%>
          <a href=<%= track.sample.s3_object.url_for(:read, :secure => true, :expires => 20.minutes.from_now) %> target="_blank"> <img src="/images/dummyplay.png" class='play-button'></a> 

        <%else%>
          <input type="image" src="/images/dummyplay.png" onclick="noSample()" class='play-button'>
        <%end%>
      </p>
      </section>
    <%end%>
    <p>Samples served in mp3 format. All prices in New Zealand dollars.</p>
  </div>
</div>

<% if @user && @admins.include?(@user.email) %>
  <div id="album-edit">
    <h2>Current file formats:</h2>
    <% @formats.each do |format| %>
      <p><%= format %> 
        <form method="post" action="/albums/<%= @album.id %>">
          <input type="submit" value="Delete Archive">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="delete" value="<%= format %>">
        </form>
      </p>
    <% end %>
    <h2>Add formats:</h2>


    <%= s3_uploader_form  callback_url: albums_url, callback_param: "album[mp3_url]", id: "s3-uploader", max_file_size: 2000.megabytes do %>
        <%= label_tag :mp3 %>
        <%= file_field_tag :file, multiple: true %>
        <input type="hidden" name="Content-type" id="Content-type" value="">
        <%= submit_tag %>
    <% end %>

    <div id="uploads_container"></div>
      <script id="template-upload" type="text/x-tmpl">
      <div id="upload_{%=o.unique_id%}" class="upload">
        <h5>{%=o.name%}</h5>
        <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>


    <%= form_for @album, url: {action: "update"}, html: {class: "new-item-form", multipart: true} do |f|%>
      <% if (["mp3", "alac", "aac", "flac", "wav"] - @formats).include?("mp3") %>
        <%= f.label :mp3, "MP3 Archive" %><br>
        <%= f.file_field :mp3 %> <br>




      <% end %>
      <% if (["mp3", "alac", "aac", "flac", "wav"] - @formats).include?("alac") %>
        <%= f.label :alac, "ALAC Archive" %><br>
        <%= f.file_field :alac %> <br>
      <% end %>
      <% if (["mp3", "alac", "aac", "flac", "wav"] - @formats).include?("aac") %>
        <%= f.label :aac, "AAC Archive" %><br>
        <%= f.file_field :aac %> <br>
      <% end %>
      <% if (["mp3", "alac", "aac", "flac", "wav"] - @formats).include?("flac") %>
        <%= f.label :flac, "FLAC Archive" %><br>
        <%= f.file_field :flac %> <br>
      <% end %>
      <% if (["mp3", "alac", "aac", "flac", "wav"] - @formats).include?("wav") %>
        <%= f.label :wav, "WAV Archive" %><br>
        <%= f.file_field :wav %> <br>
      <% end %>
      <%= f.submit class: "btn-md btn-warning submit-btn" %>
    <% end %>
  </div>
<% end %>

<script>
function noSample(){
  alert("No sample available, sorry.");
}
</script>