<br>
<div id="album-show-main">
<div>
  <a href=<%= @album.art_url %>  id="album-art"><img src=<%=@album.art_url%> class="album-page-art" alt=<%= @album.name %>></a>
  <h1 class="album-name"><%=@album.name%></h1>
  <% if @user && @album.in_cart(@user.id) %>
    <a href=<%=orders_path%>><img src="/images/incart.png" class="big-cart" alt=<%= @album.name %>></a>
  <% elsif @user && @album.in_library(@user.id) %>    
    <a href=<%=user_path%>><img src="/images/inlibrary.png" class="big-cart"></a>
  <%else%>
    <form  name='orderAlbum' method='post' action='/orders'>
      <div>
          <input type='hidden' name='album_id' value=<%=@album.id%>>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type="image" name="order" src="/images/cart.png" border="0" alt="Submit" class="big-cart"/>
      </div>
    </form>
  <%end%>
  <div class="spacer"></div>
  <p class="album-price"><%=@album.price.round(2)%></p>
  <p class="album-desc"><%=@album.description%></p>
  <p class="album-desc">By <%=@album.artists%></p>
  <p class="album-desc">Released <%=@album.year%></p>
  <p class="album-desc">Available Formats: 
    <% @formats.length.times do |i| %>
      <%= "#{@formats[i]} " %>
    <% end %>
</div>
  <div>
    <h2>Track Listing:</h2>
    <% @tracks.each do |track| %>
      <section class="single-track">
      <p class="track-listing">
        <%if track.name.length < 30 %>
          <%=track.track_number%>: <%=track.name%> <%="."*(30-track.name.length)%> 
        <% else %>
          <%=track.track_number%>: <%=track.name%>
        <% end %>
        <% if @user && track.in_cart(@user.id) %>
          <img src="/images/incart.png" class="small-cart">
        <% elsif @user && track.in_library(@user.id) %>    
          <a href=<%=user_path%>><img src="/images/inlibrary.png" class="small-cart"></a>
        <%else%>
          <form  class='track-order-button' name='orderTrack' method='post' action='/orders'>
            <input type='hidden' name='track_id' value=<%=track.id%>>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <input type="image" name="track" src="/images/cart.png" border="0" alt="Submit" class="small-cart"/>
          </form>
        <%end%>

        <%if track.sample_url%>
          <a href=<%=track.sample_url%> target="_blank"> <img src="/images/dummyplay.png" class='play-button'></a> 

        <%else%>
          <input type="image" src="/images/dummyplay.png" onclick="noSample()" class='play-button'>
        <%end%>
      </p>
      </section>
    <%end%>
    <p>All samples served in mp3 format</p>
  </div>
</div>
<script>
function noSample(){
  alert("No sample available, sorry.");
}
</script>