<h3><%= @album.name %></h3>
<h4><%= @format %></h4>

<% if @format == "mp3" %>
  <%= s3_uploader_form  callback_url: "/albums/#{@album.id}/", 
                        callback_method: "PATCH",
                        callback_param: "album[mp3]",
                        key: "${filename}",
                     		key_starts_with: "",                        
                        id: "s3-uploader",
                        max_file_size: 2000.megabytes do %>
    <%= label_tag :mp3_archive_for_s3 %></br>
    <%= file_field_tag :file, multiple: true %>
    <input type="hidden" name="Content-type" id="Content-type" value="audio/mpeg">
  <% end %>
<% end %>

<% if @format == "alac" %>
  <%= s3_uploader_form  callback_url: "/albums/#{@album.id}/", 
                        callback_method: "PATCH",
                        callback_param: "album[alac]", 
                        key: "${filename}",
                     		key_starts_with: "",                        
                        id: "s3-uploader",
                        max_file_size: 2000.megabytes do %>
    <%= label_tag :alac_archive_for_s3 %></br>
    <%= file_field_tag :file, multiple: true %>
    <input type="hidden" name="Content-type" id="Content-type" value="">
  <% end %>
<% end %>

<% if @format == "aac" %>
  <%= s3_uploader_form  callback_url: "/albums/#{@album.id}/", 
                        callback_method: "PATCH",
                        callback_param: "album[aac]", 
                        key: "${filename}",
                     		key_starts_with: "",                        
                        id: "s3-uploader",
                        max_file_size: 2000.megabytes do %>
    <%= label_tag :aac_archive_for_s3 %></br>
    <%= file_field_tag :file, multiple: true %>
    <input type="hidden" name="Content-type" id="Content-type" value="">
  <% end %>
<% end %>

<% if @format == "flac"%>
  <%= s3_uploader_form  callback_url: "/albums/#{@album.id}/", 
                        callback_method: "PATCH",
                        callback_param: "album[flac]", 
                        key: "${filename}",
                     		key_starts_with: "",                        
                        id: "s3-uploader",
                        max_file_size: 2000.megabytes do %>
    <%= label_tag :flac_archive_for_s3 %></br>
    <%= file_field_tag :file, multiple: true %>
    <input type="hidden" name="Content-type" id="Content-type" value="">
  <% end %>
<% end %>

<% if @format == "wav" %>
  <%= s3_uploader_form  callback_url: "/albums/#{@album.id}/", 
                        callback_method: "PATCH",
                        callback_param: "album[wav]",
                        key: "${filename}",
                     		key_starts_with: "",                        
                        id: "s3-uploader",
                        max_file_size: 2000.megabytes do %>
    <%= label_tag :wav_archive_for_s3 %></br>
    <%= file_field_tag :file, multiple: true %>
    <input type="hidden" name="Content-type" id="Content-type" value="">
  <% end %>
<% end %>

<% if @format == "sample" %>
  <%= s3_uploader_form  callback_url: "/albums/#{@album.id}/", 
                        callback_method: "PATCH",
                        callback_param: "album[sample]", 
                        key: "${filename}",
                     		key_starts_with: "",                        
                        id: "s3-uploader",
                        max_file_size: 2000.megabytes do %>
    <%= label_tag :sample_archive_for_s3 %></br>
    <%= file_field_tag :file, multiple: true %>
    <input type="hidden" name="Content-type" id="Content-type" value="">
  <% end %>
<% end %>

<div id="uploads_container"></div>
<script id="template-upload" type="text/x-tmpl">
  <div id="upload_flac" class="upload">
    <h5><%= @format.upcase %> Upload</h5>
    <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>


<h4>Once upload is complete, <a href="/albums/<%= @album.id %>"><u>click here</u></a> to return to Album page.</h4>