<!DOCTYPE html>
<html>
<head>
  <title>OHO Recordings</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  <header>
    <div  id="logo">
      <a href="/">
        <img src="/images/logo_big_h.png" alt="Oho logo">
        <h2 id="logo-subheader">Recordings</h2>
      </a>
    </div>
    <nav>
      <ul>
        <li class="navlink"><%= link_to 'Home', root_path, method: :get %></li>
           <li class="navlink"><%= link_to 'About', '../application/about', method: :get %></li>
        <%if @user %>
          <li class="navlink"><%= link_to 'Sign Out', session_path(@user.id), method: :delete %></li>
          <li class="navlink"><%= link_to 'Your Library', user_path(@user.id), method: :get %></li>
        <%else%>
          <li class="navlink"><%= link_to 'Log in/ Sign up', new_user_path, method: :get %></li>
          <li class="navlink"><%= link_to 'Your Library', new_user_path, method: :get %></li>
        <%end%>
        <%if @user && @admins.include?(@user.email)%>
          <li class="navlink"><%= link_to 'ADMIN - Add an album', new_album_path, method: :get %></li>
          <li class="navlink"><%= link_to 'ADMIN - View all orders', orders_path, method: :get %></li>
          <li class="navlink"><%= link_to 'ADMIN - View all users', users_path, method: :get %></li>
        <% end %>
      </ul>
    </nav>
    <%if @user%>
      <p id="cart-count">  <%=@user_cart_count%>  </p>
      <a href="/users/<%=@user.id%>/orders"><img src="/images/cart.png" class="small-cart"></a>
    <%end%>
  </header>
  <div id="wrapper">

    <% if flash.alert %>
      <div class="messages">
        <div class="alert alert-danger" role="alert">
          <%= flash.alert %>
        </div>
      </div>
    <% end %>

    <% if flash.notice %>
      <div class="messages">
        <div class="alert alert-success" role="alert">
          <%= flash.notice %>
        </div>
      </div>
    <% end %>

    <div id="background_div">

      <section>
        <%= yield %>
        <%= csrf_meta_tags %>
      </section>
      <footer>
        <a href="https://twitter.com/Bb_Gabe"><img src="/images/twitter-wrap.png" alt="twitter logo" class="social-icon"></a>
        <a href="https://www.facebook.com/gd.bowater"><img src="/images/facebook-wrap.png" alt="facebook logo logo" class="social-icon"></a>
        <p>&copy; 2015 David Bowater</p>
      </footer>
    </div>
  </div>
</body>
</html>
